<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/profile">Profile</a></li>
	</ul>
	
	<form action="/search" method="POST">
		<input type="text" name="search-query" placeholder="Search...">
		<button type="submit">Search</button>
	</form>
</nav>